<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Alumno">
    <select id="getAllAlumnos" resultType="pojo.Alumno">
        {CALL alumno.sp_getAlumnos}
    </select>
    
    <select id="getAlumnoById" resultType="pojo.Alumno">
        {CALL alumno.sp_getAlumnoById (#{idAlumno,jdbcType=INTEGER,mode=in})}
    </select>
    
    <insert id="registrarAlumno" parameterType="pojo.Alumno">
        {CALL alumno.sp_registrarAlumno(#{nombre,jdbcType=VARCHAR,mode=in}, 
        #{apellidos,jdbcType=VARCHAR,mode=in}, 
        #{matricula,jdbcType=VARCHAR,mode=in}
        #{email,jdbcType=VARCHAR,mode=in,
        #{idCarrera,jdbcType=INTEGER,mode=in})}
    </insert>
    
    <update id="actualizarAlumno" parameterType="map">
        {CALL alumno.sp_actualizarAlumno (#{idAlumno,jdbcType=INTEGER,mode=in}
        #{nombre,jdbcType=VARCHAR,mode=in}, 
        #{apellidos,jdbcType=VARCHAR,mode=in})}

    </update>
    
    <delete id="eliminarAlumno" parameterType="int">
        {CALL alumno.sp_actualizarAlumno (#{idAlumno,jdbcType=INTEGER,mode=in})}
    </delete>
</mapper>
